@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-Medium.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-Light.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-Light.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-LightItalic.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-LightItalic.woff) format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-Semibold.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-RegularItalic.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-RegularItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-MediumItalic.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "Calibre";
  src: url(./assets/fonts/Calibre/Calibre-SemiboldItalic.woff2) format("woff2"),
    url(./assets/fonts/Calibre/Calibre-SemiboldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/SFMono/SFMono-Regular.woff2) format("woff2"),
    url(./assets/fonts/SFMono/SFMono-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/SFMono/SFMono-Semibold.woff2) format("woff2"),
    url(./assets/fonts/SFMono/SFMono-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/SFMono/SFMono-RegularItalic.woff2) format("woff2"),
    url(./assets/fonts/SFMono/SFMono-RegularItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
} /*!sc*/
@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/SFMono/SFMono-SemiboldItalic.woff2) format("woff2"),
    url(./assets/fonts/SFMono/SFMono-SemiboldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: auto;
} /*!sc*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
  color: #fff;
  font-family: "Calibre", -apple-system, system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  position: relative;
}
